# Core ML & DL
torch>=2.0.0
torchvision
torchaudio

# Hugging Face
transformers>=4.57.0
datasets>=2.14.0
evaluate>=0.4.0

# Data & Preprocessing
scikit-learn
pandas
numpy
nltk
ipykernel

# Visualization
matplotlib
seaborn
wordcloud

# Utilities
tqdm
pyyaml
#yaml
jupyter 